*{
  margin: 0;
  padding: 0;
}
.van-tab {
  font-size: 20px;
}
.van-tabs__nav--card {
  margin: 0 0;
}

.van-tabs__wrap--scrollable .van-tab {
  flex-basis:20% !important;
}
li {
  list-style: none;
}
.van-grid-item > .van-grid-item__content {
  padding: 8px 8px;
}
.van-swipe {
  width: 100%;
}